<%= link_to "Create My Next Post", new_post_path, class: "btn btn-md btn-primary" %>

<h2>Your Posts</h2>


<ul>
  <% @user.posts.each do |post| %>
    <li><%= link_to post.name, post_path(post) %></li>
  <% end %>
</ul>
