
<h5>Posts</h5>
<ul>
  <% if @posts.any? %>
    <% @posts.each do |post| %>
      <li> <%= link_to post.name, post_path(post) %> </li>
    <% end %>
  <% else %>
    <p> You'd better get bloggin'.</p>
  <% end %>
</ul>

<%= link_to "Create New Post", new_post_path, class: "btn btn-md btn-primary" %>
